.header_container{
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    transition: all ease-in-out;
    h1{
        font-size: 4rem;
    }
    a:nth-child(2) {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        list-style: none;
    }
    a{
        color: black;
        text-decoration: none;
    }
    #user_icon{
        margin-right: 50px;
        font-size: 30px;
    }
    a:hover{
        transition: 0.3s;
        color: orange;
    }
    a:nth-child(2):hover{
        border-bottom: 1px solid black;
    }
}